{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/xsm_MechLanding.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "harvestLevel" : 99,
      "delaySteps" : 2
    }

  ]
}
